@import "tailwindcss";
@import "@fontsource-variable/inter/wght.css";

@theme {
  --font-bangla: "Bangla MN";
  --font-inter: "Inter Variable";

  --color-azul: #00294e;
  --color-azul-intenso: #031a2e;
  --color-naranja: #f47b0d;
  --color-amarillo: #c9a45c;
  --color-gris: #75797c;
  --color-blanco: #f6f1ea;
  --color-negro: #1d1f1e;
}

.paragraph-icon {
  @apply text-[13px] md:text-[15px] xl:text-[18px] leading-[125%];
}
.caption {
  @apply text-[14px] leading-[120%];
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--color-azul);
  color: white;
  font-family: var(--font-inter);
}

/* Embla carousel */
.embla {
  margin: auto;
}

.embla__container {
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 auto;
  min-width: 0;
  padding-left: 5px;
  padding-right: 20px;
}
